html {
  box-sizing: border-box;
  box-sizing: border-box;
  font: normal 100%/1.5 "Libre Baskerville", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

article {
  max-width: 47em;
  margin: auto;
  line-height: 1.5em;
}

header {
  border: 3px solid #259f95;
  background-color: #259f95;
  border-radius: 0 0 8px 8px;
  margin-bottom: 1.5em;
}

h1 {
  font-weight: normal;
  color: #fff;
  padding-left: 1.5em;
}

p {
  padding: 0 1.5em;
  margin: 0;
  text-indent: 1.4em;
  color: #222;
}

article header + p {
  text-indent: 0;
}

header + p::first-line {
  color: #1e7c74;
  font-style: italic;
}

small {
  color: #fff;
  font-size: .75rem;
  font-style: italic;
}

.chapter-num {
  font-size: .75em;
  font-style: italic;
  display: block;
}

.colon {
  display: none;
}

img {
  display: block;
  border: 1px solid #1e7c74;
  border-radius: 8px;
  width: 100%;
}

footer {
  border: 3px solid #259f95;
  background-color: #259f95;
  border-radius: 8px 8px 0 0;
  margin-top: 1.5em;
  padding: 1.5em;
  text-align: center;
}
